<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirecting...</title>
    <script type="text/javascript">
        // Set the countdown timer
        let countdown = 5;

        // Update the countdown every second
        function updateCountdown() {
            document.getElementById("countdown").innerText = countdown;
            countdown--;
            if (countdown < 0) {
                window.location.href = "/romannumeral?query=";  // Change to your target URL for redirection
            }
        }

        // Call updateCountdown every second
        setInterval(updateCountdown, 1000);
    </script>
</head>
<body>
<h1>You will be redirected in <span id="countdown">5</span> seconds...</h1>
</body>
</html>